.invoice-separator {
    width: calc(100% + 100px);
    height: 0;
    border: 0;
    border-top: 1px solid #ddd;
    margin-top: 50px;
    margin-left: -50px;
    margin-bottom: 50px;
}

.invoice.pdf .invoice-separator {
    margin-top: 40px;
    margin-bottom: 40px;
}