.qty-type {
  margin: 0 !important;
}

.qty-type > .button {
  text-transform: uppercase;
}

.qty-type .options {
  display: none;
  position: absolute;
  margin: 0 !important;
  margin-top: 4px !important;
  left: -5px;
  right: auto;
}

.qty-type .options.is-visible {
  display: block;
}
